@charset "utf-8";


/* Header and Navigation*/

header {
	width: 80%;
	height:auto;
	z-index: 5;
	border-bottom: 2px solid black;
	border-color: #000000;
	position:absolute;
	transform:translate(10%,0%);
}

.home {
	font-family: Helvetica,Arial,serif;
	font-weight: 900;
	display: inline-block;
	text-align:left;
	color: #000000;
	font-size: 35px;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.1s linear;
}

.home_sub {
	font-family: Helvetica,Arial,serif;
	display: inline-block;
	font-size: 17px;
	text-align: left;
	float:left;
	margin-top: -50px;
	letter-spacing: 0px;
	color: #A9A9A9;
	text-decoration: none;
	font-weight: normal;
}


nav {
	float: right;
	text-decoration: none;
}

nav ul li {
	list-style-type: none;
	text-decoration: none;
	font-family: Helvetica,Arial,serif;
	float: left;
	font-size: 16px;
	text-align: left;
	margin-right: 0px;
	margin-left: 25px;
	margin-top: 15px;
	letter-spacing: 0px;
	font-weight: normal;
	text-transform: uppercase;
}

ul li a {
	color: #A9A9A9;
	text-decoration: none;
	transition: all 0.1s linear;
}

ul li:hover a, .home:hover {
	color: #575757;
}


/* Footer*/
footer{
	width:80%;
	transform:translate(10%,0%);

	font-family: Helvetica,Arial,serif;
	display: inline-block;
	font-size: 15px;
	text-align: left;
	margin-top: -50px;
	letter-spacing: 0px;
	color: #A9A9A9;
	text-decoration: none;
	font-weight: normal;
}


/* BODY*/



section {
	width: 80%;
	height:auto;
	border-bottom: 2px solid black;
	border-color: #000000;
	position:relative;
	transform:translate(10%,0%);
	padding: 75px 0px 75px 0px;
}

section h3{
	position:relative;
	font-family: Helvetica,Arial,serif;
	font-weight: 800;
	margin-top: 0px;
	text-align:left;
	color: #000000;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 0px;
	text-decoration: none !important;
	
}

section article{
	position: relative;
	font-family: Helvetica,Arial,serif;
	display: inline-block;
	font-size: 17px;
	text-align:justify;
	letter-spacing: 0px;
	color: #A9A9A9;
	text-decoration: none;
	font-weight: normal;
}

section img{
	width:100%;
	height: auto;
	margin: 25px 0 25px 0;
}

.container {
	
	display:flex;
	justify-content: flex-end;
	align-items:flex-start;
	flex-direction: row;
	flex-wrap:wrap;

}

.container div{
	margin: 5% auto auto auto;
}


/*Image Tiles*/

.tile {
	position:relative;
	align-self: center;
   	width: 350px;
  	height: 350px;
	transition: all 0.2s linear;	
	font-size: 20px;
	color:rgba(255,255,255,0.00);
	margin: 0 0 0 0;
	


}


.tile img{
	width:350px;
	height:350px;
	object-fit: cover;
	transition: all 0.2s linear;
	margin: 0 0 0 0;
	
}

.tile img:hover{
	width:380px;
	height:380px;
	object-fit: cover;
	margin: -15px 0 0 -15px;
	-webkit-filter: grayscale(100%); 
	-webkit-filter: brightness(30%); 

}

.tile:hover{
	font-size:22px;
	color:rgba(255,255,255,1.00);
}

.tile h1{
	font-family: Helvetica,Arial,serif;
	text-decoration: none;
	letter-spacing: 0px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: white;
	
	opacity:1;
	pointer-events: none;
	font-size: inherit;
	white-space: nowrap;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.tile h2{
	width:250px;
	font-family: Helvetica,Arial,serif;
	text-decoration: none;
	letter-spacing: 0px;
	font-weight: normal;
	text-align: center;
	color: inherit;

	opacity:1;
	pointer-events: none;
	font-size: 22px;
	position:absolute;
	top:65%;
	left:50%;
	transform: translate(-50%, -50%);

}

/* Slideshow */
.slideshow_container{
	width:100%;
	display: block;
	text-align: center;
	margin: 25px 0px 0px 0px;
	background-color: #000000;
}


.slide img{
	vertical-align: bottom;
	width:615px;
	height:500px;
	object-fit: cover;
	align-self: center;
	position: relative;
}


.slideFull img{
	vertical-align: bottom;
	width:100%;
	height:auto;
	object-fit: cover;
	align-self: center;
	position:relative;
}

.prev, .next {
  	cursor: pointer;
  	position: relative;
  	width: auto;
  	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
	background-color: #A9A9A9;
	top:50%;
	
	transform: translate(0%, -150%);
	float:left;
	
}


.next {
	
	float:right;
	border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
	background-color: #575757;
}

.dot {
 	cursor:pointer;
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #A9A9A9;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.5s ease;
}

.active, .dot:hover {
  	background-color: #575757;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.3s;
  animation-name: fade;
  animation-duration: 0.3s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

/* Sketchfab links */
.sketchfab-embed-wrapper{
	text-align: center;
	margin: 50px 0 0 0;
}

/* Vimeo links */
.vimeo-embed-wrapper{
	text-align: center;
	margin: 50px 0 0 0;
}


.images_list{
	
	position: relative;
	display: inline;
	margin:0;
}

.images_list img{
	width:24.5%;
	height: 24.5%;
	margin: 0px 0 0 0;

}

.images_list h1{
	font-family: Helvetica,Arial,serif;
	text-decoration: none;
	font-size: 17px;
	letter-spacing: 0px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	margin: 0 0 0 0;
	
	bottom:15;
	left:50%;
	position:absolute;
	text-align: center;
	float:none;
	white-space: nowrap;
	transform: translate(-50%, 0%);

}

